*{
    padding:0;
    margin:0;
}
body
{
    background-color: black;
    background-size:cover;
    background-position:center center;
    height:100vh;
}
div input[type="text"]
{
    background:none;
	display:block;
	margin:20px auto;
    border:3px solid darkorange;
    padding:14px 40px;
    text-align: center;
    border-radius: 15px;
    outline:none;
    background-color: aliceblue;
}
div input[type="Submit"]
{
    background:none;
	display:block;
	margin:2px auto;
	text-align:center;
	border:4px solid darkorange;
	padding:10px 40px;
    text-align: center;
    outline:none;
    color:aliceblue;
    border-radius: 25px;
    background-color: darkorange;
}
div
{
    width:300px;
	padding:40px;
	position:absolute;
    top:20%;
    left:35.8%;
    background-color:dimgrey;
    border-top-left-radius:30px;
    border-bottom-right-radius:30px;
    border: 2px solid aliceblue;
}
div select[type="dropdown"]
{
    background:none;
	display:block;
	margin:20px auto;
    border:3px solid darkorange;
    padding:13px 58px;
    text-align: center;
    border-radius: 15px;
    outline:none;
    font-family: cursive;
    background-color: aliceblue;
}
div p
{
    text-align: center;
    color:aliceblue;
    font-family:Gautami;
    font-size: 30px;
}
div input[type="submit"]:hover
{
	background:darkorange;
    box-shadow: 1px 1.881px 20px aliceblue;
    transition-delay: 0s;
}