*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-size:cover;
    background-position:center center;
    height:100vh;
    background-color:black;
}
.grid1
{
    background-color:dimgrey;
    color:aliceblue;
    display:block;
    width:1000px;
    height:130px;
    position:absolute;
    padding: 10px;
    top: 13%;
    left: 2%;
    text-align:center;
    border-radius: 5px;
    border:1px solid aliceblue;
    //transform:translate(-150%,20%);//
}
.grid2
{
    background-color:dimgrey;
    color:aliceblue;
    display:block;
    width:1000px;
    height:130px;
    position:absolute;
    padding: 10px;
    top:38%;
    left:12%;
    text-align:center;
    border-radius: 5px;
    border:1px solid aliceblue;
}
.grid3
{
    background-color:dimgrey;
    color:aliceblue;
    display:block;
    width:1000px;
    height:130px;
    position:absolute;
    padding: 10px;
    top: 63%;
    left: 22%;
    text-align:center;
    border-radius: 5px;
    border:1px solid aliceblue;
}
p
{
    font-family: cursive;
    font-size: 20px;
    padding-top:0%;
    text-align: left;
}
h2
{
    text-align: left;
    color:darkorange;
}
h1
{
    text-align: center;
    color: aliceblue;
    font-size: 25px;
    font-family: monospace;
}
